
/*Code for importing Google Fonts adapted from Code Institute Coders Coffeehouse walkthrough project
https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/4d85cd1a2c57485abbd8ccec8c00732c/?child=first */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Slab:wght@400;700&display=swap');

/* --------------- Styles for common elements of the site ---------------- */

html {
    font-size: 16px;
}

body {
    background-color: rgb(49, 49, 49);
    text-align: center;
    font-family: 'Josefin Slab', serif;
    max-width: 1900px;
    margin: 0 auto;
}

p, li {
    text-align: left;
}

p, th, td, a, label {
    color: rgb(247, 247, 247);
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
    color: rgb(184, 203, 213);
    margin: 0.5rem;
}

h1 {
    font-size: 500%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 200%;
}
/* --------------- Styles for links and submit buttons ---------------- */

a:hover {
    color: pink;
}

a h1:hover {
    color: pink;
}

input[type="submit"]:hover {
    background-color: pink;
}

#page-title {
    text-decoration: none;
}

/* --------------- Styles for the header/navigation area at the top of the page ---------------- */

header {
    /* Use of the position property with a value of sticky in conjunction with the top property to create a 'sticky' header was based on
    guidance and the code example at https://elad.medium.com/css-position-sticky-how-it-really-works-54cd01dc2d46 
    (see under 'How CSS Position Sticky Really Works!' and 'Browser support' headings */
    background-color: rgb(49, 49, 49);
    height: auto;
    width:100%;
    position: -webkit-sticky; /* This is needed for Safari browser support as per above article */
    position: sticky;
    top: 0;
    padding: 0.25rem;
    z-index: 1;
}

#nav-list li {
    display: inline;
    list-style-type: none;
    margin: 1rem;
}

/* --------------- Styles for the main site content --------------- */

section{
    padding: 10px;
    scroll-margin: 12rem;
}

/*Styles for the about section */

#about{
    clear: left;
}

#about-hero-container {
    background-color: rgb(49, 49, 49);
    background-image: url("../images/large-cat-hero.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: 50% 30%;
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.about-content-container {
    background-color: rgba(49, 49, 49, 0.8);
    color: rgb(247, 247, 247);
    padding: 2px 10px;
    position: absolute;
    margin: 10px;
    display: inline-block;
}

.about-content-container h2 {
     color: rgb(218, 185, 184);
}

#about-text-container {
    width: 25%;
    top: 2rem;
    left: 1rem;
}

#tagline-container {
    width: 25%;
    bottom: 2rem;
    right: 1rem;
    font-size: 200%;
}

/* Styles for the cats looking for a home section */

.cat-needs-home-container {
    display: inline-block;
    width: 29%;
    padding: 2%;
    vertical-align: top;
}

.cat-needs-home-container h3 {
    color: rgb(218, 185, 184);
}

.cat-needs-home-img {
    width: 100%;
}

.cat-needs-home-container th, td {
    text-align: left;
}

/* Styles for the register section */

#form-container {
    display: inline-block;
    max-width: 75%;
}

.text-input-label {
    display: inline-block;
    width: 8rem;
    text-align: right;
}

fieldset {
    border-style: none none solid;
    margin-top: 1rem;
}

legend {
    color: rgb(247, 247, 247);
    font-weight: bold;
}

input {
    font-family: 'Josefin Slab', serif;
    color: rgb(49, 49, 49);
    font-size: 100%;
    background-color: rgb(247, 247, 247);
    padding: 2px;
}

input[type=submit] {
    font-size:large;
    font-weight: bold;
    border-radius: 10%;
    padding: 4px;
}

.text-fields {
    width: 70%;
    max-width: 30rem;
    margin: 0.25rem;
}

/* Styles for the Further Information section */

#further-info-text-container {
    display: inline-block;
    max-width: 75%; 
}

#cat-video {
    width: 560px; 
    height: 315px;
}

/* Styles for the footer */

footer {
    background-color: violet;
}

/* --------------- Media queries ---------------- */

/* Media query sizes adpated from https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */

/* --------------- Styles for mobile and small tablets ---------------- */

@media (max-width: 767px) {
    /* Mobile styles for page title and header */
    #page-title  h1{
        font-size: 350%;
    }

    header {
        height: auto;
        margin-bottom: 0.5rem;
    }

    #nav-list {
        padding: 0;
    }
    
    #nav-list li {
        display: block;
        text-align: center;
        margin: 0.5rem;
    }

    /* Mobile styles for the About section */
    #about-hero-container {
        background-image: url("../images/small-cat-hero.jpg");
        background-attachment: scroll; /* To ensure mobile compatibility - some mobile browsers do not support a value of fixed */
        background-position: 50% 50%;
        height: auto;
    }

    .about-content-container {
        margin-top: 3rem;
        padding: 2px 10px;
        position: static;
        width: auto;
        margin: 2rem;
        display: block;
    }
    
    .about-content-container h2 {
            font-size: 200%;
    }
    
    #about-text-container {
        width: auto;
    }
    
    #tagline-container {
        width: auto;
        font-size: 120%;
    }

    /* Mobile styles for the Cats Needing a Home section */
    .cat-needs-home-container {
        display: block;
        width: 100%;
        padding: 2%;
    }

    /* Mobile styles for the Register section */
    #form-container {
        max-width: 100%;
    }

    .text-fields {
        width: 100%;
        margin: 0.25rem;
    }

    .text-input-label {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    /* Mobile styles for the Further Information section */
    #further-info-text-container {
        display: block;
        max-width: 100%;
    }
    /*  The following CSS to responsively size the embedded video for mobile is from https://flaviocopes.com/responsive-youtube-videos/ */
    #cat-video-container {
        overflow: hidden;
        position: relative;
        width:100%;
    }
    
    #cat-video-container::after {
        padding-top: 56.25%;
        display: block;
        content: '';
    }
    
    #cat-video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /*This is the end of the block of CSS from https://flaviocopes.com/responsive-youtube-videos/ */
  }

  /* --------------- Styles for medium size devices (larger tablets and smaller laptops/desktops) ---------------- */
  @media (min-width: 768px) and (max-width: 1199px) {
     /* Medium size styles for the About section */
     #about-hero-container {
        background-image: url("../images/large-cat-hero.jpg");
        background-attachment: scroll; /* To ensure mobile compatibility - some mobile browsers do not support a value of fixed */
        background-position: 50% 50%;
        height: 40rem;
    }

    .about-content-container h2 {
        font-size: 200%;
   }

    /* Medium size styles for the Cats Needing a Home section */
    .cat-needs-home-container {
        width: 75%;
        padding: 2%;
    }

    /* Medium size styles for the Register section */
    #form-container {
        width: 75%;
        padding: 2%;
    }

    .text-fields {
        width: 100%;
        margin: 0.25rem;
    }

    .text-input-label {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
    }
  }

