body {
    background-color: lightgray;
}

h1, h2, h3 {
    text-align: center;
}

/* --------------- Styles for the header/navigation area at the top of the page ---------------- */

header {
    /* Use of the position property with a value of sticky in conjunction with the top property to create a 'sticky' header was based on
    guidance and the code example at https://elad.medium.com/css-position-sticky-how-it-really-works-54cd01dc2d46 
    (see under 'How CSS Position Sticky Really Works!' and 'Browser support' headings*/
    height: 6rem;
    position: -webkit-sticky; /* This is needed for Safari browser support */
    position: sticky;
    top: 0;
    background-color: lightgrey;
    z-index: 1;
}
#page-title {
    float: left;
}

#nav-list {
    margin-right: 20px;
    float: right;
}

#nav-list li {
    display: inline;
    list-style-type: none;
    margin: 1rem;
}

/* --------------- Styles for the main site content --------------- */

section{
    background-color: lightskyblue;
    padding: 10px;
    text-align: left;
}

/*Styles for the about section */

#about{
    clear: left;
}

.tagline-container {
    background-color: wheat;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 33%;
    height: 20rem;
    text-align: bottom;
    overflow: hidden;
}

#selection-container {
    background-image: url("../images/cropped-cat.png");
}

#quality-container {
    background-image: url("../images/cropped-cat.png");
}

#fee-container {
    background-image: url("../images/cropped-cat.png");
}

.tagline-text {
    display: inline;
    position: relative;
    color: white;
    background-color: rgba(210, 210, 210, 0.3);
    top: 80%;
    left: 60%;
    padding: 5px;
}

/* Styles for the cats looking for a home section */


.cat-needs-home-container {
    background-color: palevioletred;
    display: inline-block;
    width: 29%;
    padding: 2%;
    vertical-align: top;
}

.cat-needs-home-img {
    width: 100%;
}

/* Styles for the footer */

footer {
    background-color: violet;
}